[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=<redis.ssshankar.site>
Environment=cart_HOST=<cart.ssshankar.site>
Environment=cart_PORT=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target